<li class="row">
	{{!-- <div class="media"> --}}
		{{!-- <img class="mr-3" src="../../public/assets/img/burger.png"> --}}
		<span class="label col-2">{{id}}</span> 
		<span class="label col-7">{{burger_name}}</span>

	{{#if devoured}}
		<span class="label col-2">
			<button class="delete" data-id="{{id}}" data-devoured="{{devoured}}">Delete</button>
		</span>
	{{else}}
		<span class="label col-2">
			<button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">Devour</button>
		</span>
	{{/if}}
	{{!-- </div> --}}
</li>


{{!-- <div class="media">
  <img class="mr-3" src=".../64x64" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Media heading</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div> --}}